 .btn {
   display: inline-block;
   width: 100%;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;
   transition: background-color 0.3s;
 }

 .btn:active {
   transform: scale(102%);
 }
 
 .btn-primary {
   background-color: #00060b;
   color: #fff;
 }
 
 .btn-secondary {
   border: 1px solid #00060b;
   color: #00060b;
 }
 
 .btn:hover {
   opacity: 0.8;
 }
 
